---
permalink: /404.html
layout: none
---

{% include navbar.html %}

<div id="Main" style="height: calc(100% - 200px)">
<div id="Name">404</div>

<div id="Subtitle" class="en">
	Not Found
</div>
<div id="Subtitle" class="es">
	Página no encontrada
</div>

<div id="MiniContact" style="bottom: 110px">
	<a href="http://twitter.com/ijzm" class="fab fa-twitter"></a>
	•
	<a href="http://github.com/ijzm" class="fab fa-github"></a>
	•
	<a href="http://instagram.com/ijzm1" class="fab fa-instagram"></a>
</div>
</div>

{% include footer.html %}