#AboutContent {
	display: flex;

	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: var(--background-bg);
}

#AboutContent .Content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

#AboutContent .Content #Description {
	width: 60%;
	padding: 30px;
	margin: 10px;
	background-color: var(--container-bg);
}

#AboutContent .Content #Description p {
	margin: 10px;
	font-size: 1.5em;
	display: block;
}
#AboutContent .Content #Description .MiniHeader {
	color: var(--accent-font); 
}

#AboutContent .Content #Photo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
}

#AboutContent .Content #Photo img {
	height: 100%;
	border-radius: 50%;
}

#AboutContent .Content #Skillset {
	width: 40%;
	padding: 30px;
	margin: 10px;
	background-color: var(--container-bg);
}

#AboutContent ul {
	list-style-type: none;
}

.Stars {
	display: inline-flex;
	float: right;
}

.fa-star {
	color: var(--default-font);
}

.ColoredStar {
	color: var(--accent-font);
}