---
layout: default

title: Nitrome HTML5 Betas
description: "List of Nitrome HTML5 betas released by Nitrome and Poki."

nitromereleases:
    Coil:
        url: https://www.nitrome.com/html5-games/coil/
        img: coil.png

    Bad Ice-Cream 2:
        url: https://www.nitrome.com/html5-games/badicecream2/
        img: badicecream2.png

    Bad Ice-Cream 3:
        url: https://www.nitrome.com/html5-games/badicecream3
        img: badicecream3.png

    Cave Chaos 2:
        url: https://www.nitrome.com/html5-games/cavechaos2/
        img: cavechaos2.png

    Cave Chaos:
        url: https://www.nitrome.com/html5-games/cavechaos/
        img: cavechaos.png

    Test Subject Blue:
        url: https://www.nitrome.com/html5-games/testsubjectblue/
        img: testsubjectblue.png

    Bad Ice-Cream:
        url: https://www.nitrome.com/html5-games/badicecream
        img: badicecream.png

    Cold Storage:
        url: https://www.nitrome.com/html5-games/coldstorage
        img: coldstorage.png

    Twin Shot:
        url: https://www.nitrome.com/html5-games/twinshot/
        img: twinshot.png

    Mutiny:
        url: https://www.nitrome.com/html5-games/mutiny/
        img: mutiny.png

    Skywire:
        url: https://www.nitrome.com/html5-games/skywire/
        img: skywire.png

    Cosmic Cannon:
        url: https://www.nitrome.com/html5-games/cosmiccannon
        img: cosmiccannon.png

    Swindler 2:
        url: https://www.nitrome.com/html5-games/swindler2/
        img: swindler2.png

    Silly Sausage:
        url: https://www.nitrome.com/html5-games/sillysausage/
        img: sillysausage.png

    Skywire 2:
        url: https://www.nitrome.com/html5-games/skywire2/#.YUejwX1OmUk
        img: skywire2.png

    Final Ninja:
        url: https://www.nitrome.com/html5-games/finalninja/
        img: finalninja.png

    Final Ninja Zero:
        url: https://www.nitrome.com/html5-games/finalninjazero/#.YUej631OmUk
        img: finalninjazero.png

    Avalanche:
        url: https://www.nitrome.com/html5-games/avalanche/
        img: avalanche.png

    Twin Shot 2:
        url: https://www.nitrome.com/html5-games/twinshot2/#.YUekXX1OmUm
        img: twinshot2.png

    Enemy 585:
        url: https://www.nitrome.com/html5-games/enemy585/
        img: enemy585.png

nitromebetas: 
    Test Subject Green:
        url: https://poki.com/en/g/test-subject-green-html5
        img: testsubjectgreen.png

    Swindler:
        url: https://poki.com/en/g/swindler-html5
        img: swindler.png

    Bomba:
        url: https://poki.com/en/g/bomba
        img: bomba.png

    Double Edged:
        url: https://poki.com/en/preview/15b309e6-d572-4918-8a7d-f5daf2ba126b/2d6931be-4ba9-4432-a36e-7769b6d5d8d2
        img: doubleedged.png

    Nitrome Must Die:
        url: https://poki.com/en/preview/19d8f927-ae3c-426c-bca1-db1d14328c74/c118535f-5078-4adc-b553-0b82a9e8803b
        img: nitromemustdie.png

    BC Bow Contest:
        url: https://poki.com/en/preview/015cbca9-cfc8-45ce-ae9e-1f0e4d74f208/f469e1d3-8cc3-4f0c-952e-ae24272d7df3
        img: bcbowcontest.png

    Rubble Trouble New York:
        url: https://poki.com/en/preview/b9c61c2c-ef0b-4b32-8df8-f2dcfc8e85d8/42343c6c-8d32-4c64-a421-66349dbc1f9b
        img: rubbletroublenewyork.png

    Test Subject Arena:
        url: https://poki.com/en/preview/5b4df4d7-cadb-4a5c-b307-683cd457bca7/9ffb395c-74de-43cc-b95d-6fa2caabd7ad
        img: testsubjectarena.png

    Calamari:
        url: https://poki.com/en/preview/7a4442e2-855d-4817-a807-6378bc66283d/ed256b97-c792-4941-a322-e017776c2b19
        img: calamari.png

    Bullethead:
        url: https://poki.com/en/preview/45628b40-7cb2-40f2-8698-d81b15785974/4cda5bef-1edd-4eac-bcea-22a9c6d9095f
        img: bullethead.png
---
<style>
	.NitromeBetaGame {
		justify-content: center;
		align-items: center;

		display: inline-flex;

		font-size: 2em;
	}

	.NitromeBetaGame img {
		margin-right: 30px;
	}
</style>

<div class="container color-text-default">

	<h1 class="color-text-accent">
		Nitrome HTML5 Official Releases
	</h1>
	<div class="p-4 mb-4 color-text-default">
		<p>
			Current list of Nitrome HTML5 Official releases, available at Nitrome.com
		</p>
        <p>
            Last Update September 19th, 2021
        </p>

		{% assign sorted_nitromereleases = page.nitromereleases | sort %}
		{% for i in sorted_nitromereleases %}
		<a href="{{ i[1].url }}" class="Button">
			<img src="./Logos/{{i[1].img }}" alt="{{ i[0] }} Logo" class="me-3">
			<p class="color-text-default">{{ i[0] }}</p>
		</a>
		{% endfor %}
	</div>

	
	<h1 class="color-text-accent">
		Nitrome HTML5 Betas
	</h1>
	<div class="p-4 mb-4 color-text-default">
		<p>
			Current list of Nitrome HTML5 Betas avalible unlisted on Poki.
		</p>
		<p>
			Special thanks to CritterCipher#5887 for compiling the initial list of links!
		</p>

		{% assign sorted_nitromebetas = page.nitromebetas | sort %}
		{% for i in sorted_nitromebetas %}
		<a href="{{ i[1].url }}" class="Button">
			<img src="./Logos/{{i[1].img }}" alt="{{ i[0] }} Logo" class="me-3">
			<p class="color-text-default">{{ i[0] }}</p>
		</a>
		{% endfor %}
	</div>

</div>