<div id="AboutContent">
	<div class="Container">
	<a class="anchor" id="About"></a>
	<h1 class="Title en" >
		About:
	</h1>
	<h1 class="Title es">
		Acerca de:
	</h1>
	<div class="Content">
		<div id="Description">
			<h2 class="en">
				Description:
			</h2>
			<h2 class="es">
				Descripción:
			</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		<div id="Skillset">
			<h2 class="en">
				Skillset:
			</h2>
			<h2 class="es">
				Habilidades:
			</h2>
			<h3 class="en">
				Programming Languages:
			</h3>
			<h3 class="es">
				Lenguajes de Programación:
			</h3>
			<ul>
				<li>
					C
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					</div>
				</li>
				<li>
					C++
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					</div>
				</li>
				<li>
					C# 					
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star"></i>
					</div>
				</li>
				<li>
					Python
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star"></i>
					</div>
				</li>
				<li>
					JavaScript
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star"></i>
					</div>
				</li>
				<li>
					HTML
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					</div>
				</li>
				<li>
					CSS
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					</div>
				</li>
				<li>
					PHP
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					</div>
				</li>
				<li>
					Java
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					</div>
				</li>
				<li>
					SQL
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					</div>
				</li>
			</ul>
			<h3 class="en">
				Libraries / Frameworks:
			</h3>
			<h3 class="es">
				Librerías / Frameworks:
			</h3>
			<ul>
				<li>
					Unity
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star"></i>
					</div>
				</li>
				<li>
					Node.js
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star"></i>
					</div>
				</li>
			</ul>
			<h3 class="en">
				Languages:
			</h3>
			<h3 class="es">
				Idiomas:
			</h3>
			<ul>
				<li>
				<span class="en">Spanish</span>
				<span class="es">Español</span>
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					</div>
				</li>
				<li>
				<span class="en">English</span>
				<span class="es">Inglés</span>
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
</div>