<div id="AboutContent">
	<div class="Container">
	<a class="anchor" id="About"></a>
	<h1 class="Title en" >
		About:
	</h1>
	<h1 class="Title es">
		Acerca de:
	</h1>
	<div class="Content">
		<div id="Description">
		<div id="Photo">
			<img src="/assets/Profile.jpg"/>
		</div>
			<h2 class="en">
				Description:
			</h2>
			<h2 class="es">
				Descripción:
			</h2>
			<p class="en">
				Informatics Engineering Student from the Pontifical Catholic University of Peru. Advanced knowledge in different areas of software development in diverse programming languages and platforms
			</p>
			<p class="es">
				Estudiante de la carrera de Ingeniería Informática en la Pontificia Universidad Católica del Perú. Conocimiento avanzado en diferentes áreas de desarrollo de software en diversos lenguajes y plataformas de programación.
			</p>

			<br/>
			<h2 class="en">
				Details:
			</h2>
			<h2 class="es">
				Detalles:
			</h2>
			<p class="en">
				<span>Name: </span> Ignacio Zevallos
			</p>
			<p class="es">
				<span>Nombre: </span> Ignacio Zevallos
			</p>

			<br/>
			<p class="en">
				<span>Age: </span> <span id="AgeEN">20</span>
			</p>
			<p class="es">
				<span>Edad: </span> <span id="AgeES">20</span>
			</p>

			<br/>
			<p class="en">
				<span>Location: </span> Lima, Peru
			</p>
			<p class="es">
				<span>Ubicación: </span> Lima, Perú
			</p>
		</div>
		<div id="Skillset">
			<h2 class="en">
				Skillset:
			</h2>
			<h2 class="es">
				Habilidades:
			</h2>
			<h3 class="en">
				Programming Languages:
			</h3>
			<h3 class="es">
				Lenguajes de Programación:
			</h3>
			<ul>
				<li>
					C
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					</div>
				</li>
				<li>
					C++
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					</div>
				</li>
				<li>
					C# 					
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star"></i>
					</div>
				</li>
				<li>
					Python
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star"></i>
					</div>
				</li>
				<li>
					JavaScript
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star"></i>
					</div>
				</li>
				<li>
					HTML
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					</div>
				</li>
				<li>
					CSS
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					</div>
				</li>
				<li>
					PHP
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					</div>
				</li>
				<li>
					Java
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					</div>
				</li>
				<li>
					SQL
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					</div>
				</li>
			</ul>
			<h3 class="en">
				Libraries / Frameworks:
			</h3>
			<h3 class="es">
				Librerías / Frameworks:
			</h3>
			<ul>
				<li>
					Unity
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star"></i>
					</div>
				</li>
				<li>
					Node.js
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star"></i>
					</div>
				</li>
			</ul>
			<h3 class="en">
				Languages:
			</h3>
			<h3 class="es">
				Idiomas:
			</h3>
			<ul>
				<li>
				<span class="en">Spanish</span>
				<span class="es">Español</span>
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					</div>
				</li>
				<li>
				<span class="en">English</span>
				<span class="es">Inglés</span>
					<div class="Stars">
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					<i class="fas fa-star ColoredStar"></i>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
</div>