<div id="About" class="anchor container">
	<h1 class="display-3">
		<span class="color-text-accent en">
			About:
		</span>
		<span class="color-text-accent es d-none">
			Acerca de:
		</span>
	</h1>

	<div class="row gy-3">
		<div class="col-md-8 themed-grid-col color-text-default">
			<div class="bg-container h-100 p-3">
				<div class="text-center">
					<img src="/assets/Profile.jpg" class="img-fluid rounded-circle h-200px" alt="Ignacio Zevallos">
				</div>
				<h1>
					<span class="en color-text-accent">Details:</span>
					<span class="es d-none color-text-accent">Detalles:</span>
				</h1>
				<h3 class="ps-3">
					<span class="en color-text-accent">Name:</span>
					<span class="es d-none color-text-accent">Nombre:</span>
					<span class="">Ignacio Zevallos</span>
				</h3>
				<h3 class="ps-3">
					<span class="en color-text-accent">Age:</span>
					<span class="es d-none color-text-accent">Edad:</span>
					<span id="Age">
					22
					</span>
				</h3>
				<h3 class="ps-3">
					<span class="en color-text-accent">Location:</span>
					<span class="es d-none color-text-accent">Ubicación:</span>
					<span class="en">Lima, Peru</span>
					<span class="es d-none">Lima, Perú</span>
				</h3>
				<h1>
					<span class="en color-text-accent">Description:</span>
					<span class="es d-none color-text-accent">Descripción:</span>
				</h1>
				<h3 class="ps-3">
					<span class="en">
						Informatics Engineering Student at Pontifical Catholic University of Peru. 
						Advanced knowledge in different areas of software development in diverse 
						programming languages and platforms.
					</span>
					<span class="es d-none">
						Estudiante de la carrera de Ingeniería Informática en la Pontificia Universidad 
						Católica del Perú. Conocimiento avanzado en diferentes áreas de desarrollo de 
						software en diversos lenguajes y plataformas de programación.
					</span>
				</h3>
			</div>
		</div>
		<!--TODO: Make Dynamic-->
		<div class="col-md-4 themed-grid-col color-text-default">
			<div class="bg-container h-100 p-3">
				<h1>
					<span class="en color-text-accent">Skillset:</span>
					<span class="es d-none color-text-accent">Habilidades:</span>
				</h1>
				<h3 class="">
					<span class="en">Programming Languages:</span>
					<span class="es d-none">Lenguajes de Programación:</span>
				</h3>
				<ul class="list-unstyled">
					<li class="container">
						C
						<div class="d-flex float-end">
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
						</div>
					</li>
					<li class="container">
						C++
						<div class="d-flex float-end">
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
						</div>
					</li>
					<li class="container">
						C#
						<div class="d-flex float-end">
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star"></i>
						</div>
					</li>
					<li class="container">
						Python
						<div class="d-flex float-end">
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star"></i>
						</div>
					</li>
					<li class="container">
						JavaScript
						<div class="d-flex float-end">
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star"></i>
						</div>
					</li>
					<li class="container">
						SQL
						<div class="d-flex float-end">
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star"></i>
						</div>
					</li>
					<li class="container">
						PHP
						<div class="d-flex float-end">
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star"></i>
						</div>
					</li>
					<li class="container">
						HTML
						<div class="d-flex float-end">
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
					</li>
					<li class="container">
						CSS
						<div class="d-flex float-end">
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
					</li>
					<li class="container">
						Java
						<div class="d-flex float-end">
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
					</li>
				</ul>
				<h3>
					<span class="en">Libraries / Frameworks:</span>
					<span class="es d-none">Librerías / Frameworks:</span>
				</h3>
				<ul class="list-unstyled">
					<li class="container">
						Unity
						<div class="d-flex float-end">
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star"></i>
						</div>
					</li>
					<li class="container">
						Node.js
						<div class="d-flex float-end">
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star"></i>
						</div>
					</li>
					<li class="container">
						Jekyll
						<div class="d-flex float-end">
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star"></i>
						</div>
					</li>
					<li class="container">
						Bootstrap
						<div class="d-flex float-end">
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
						</div>
					</li>
				</ul>
				<h3>
					<span class="en">Languages:</span>
					<span class="es d-none">Idiomas:</span>
				</h3>
				<ul class="list-unstyled">
					<li class="container">
						<span class="en">Spanish</span>
						<span class="es d-none">Español</span>
						<div class="d-flex float-end">
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
						</div>
					</li>
					<li class="container">
						<span class="en">English</span>
						<span class="es d-none">Inglés</span>
						<div class="d-flex float-end">
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
							<i class="fas fa-star color-text-accent"></i>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

</div>