<div id="Contact" class="anchor container">
	<h1>
		<span class="en color-text-accent">Contact:</span>
		<span class="es d-none color-text-accent">Contacto:</span>
	</h1>
	<div class="row gy-3">
		<!--TODO: Hacer Dinamico-->
		<div class="col-md-12">
			<div class="bg-container p-4 h-100">
				<h2 class="text-center d-flex flex-row justify-content-center">
					<span class="fas fa-envelope me-4"></span>
					<span class="color-text-accent">me [at] ignaciozevallos.com</span>
				</h2>
			</div>
		</div>

		<div class="col-md-6">
			<a href="https://twitter.com/ijzm" class="d-flex bg-container p-4 h-100 text-center text-decoration-none">
				<h2 class="d-flex flex-row justify-content-center w-100">
					<span class="fab fa-twitter me-4"></span>
					<span class="color-text-accent">@ijzm</span>
				</h2>
			</a>
		</div>

		<div class="col-md-6">
			<a href="https://instagram.com/ijzm1" class="d-flex bg-container p-4 h-100 text-center text-decoration-none">
				<h2 class="d-flex flex-row justify-content-center w-100">
					<span class="fab fa-instagram me-4"></span>
					<span class="color-text-accent">ijzm1</span>
				</h2>
			</a>
		</div>

		<div class="col-md-6">
			<a href="https://reddit.com/u/ijzm" class="d-flex bg-container p-4 h-100 text-center text-decoration-none">
				<h2 class="d-flex flex-row justify-content-center w-100">
					<span class="fab fa-reddit me-4"></span>
					<span class="color-text-accent">ijzm</span>
				</h2>
			</a>
		</div>

		<div class="col-md-6">
			<a href="https://github.com/ijzm" class="d-flex bg-container p-4 h-100 text-center text-decoration-none">
				<h2 class="d-flex flex-row justify-content-center w-100">
					<span class="fab fa-github me-4"></span>
					<span class="color-text-accent">ijzm</span>
				</h2>
			</a>
		</div>

	</div>
</div>