<div id="ContactContent">
	<div class="Container">
	<a class="Anchor" id="Contact"></a>
	<h1 class="en">
		Contact:
	</h1>
	<h1 class="es">
		Contacto:
	</h1>
	<div class="GridList">
	<div id="ContactEmail" class="ContactInfo">
	<div class="fas fa-envelope"></div>
	<h2>
		example [at] domain.com
	</h2>
	</div>
	<a href="https://twitter.com/ijzm" class="ContactInfo">
	<span class="fab fa-twitter"></span>
	<h1>
		@ijzm
	</h1>
	</a>
	<a href="https://instagram.com/ijzm1" class="ContactInfo">
	<span class="fab fa-instagram"></span>
	<h1>
		ijzm1
	</h1>
	</a>
	<a href="https://reddit.com/u/ijzm" class="ContactInfo">
	<span class="fab fa-reddit"></span>
	<h1>
		ijzm
	</h1>
	</a>
	<a href="https://github.com/ijzm" class="ContactInfo">
	<span class="fab fa-github"></span>
	<h1>
		ijzm
	</h1>
	</a>
	<!--<div class="ContactInfo">
	<span class="fab fa-discord"></span>
	<h1>
		ijzm#5506
	</h1>
	</div>-->
	</div>
	</div>
</div>