<div id="GameJamList" class="PortfolioList">
	<a class="Anchor" id="GameJams"></a>
	<a class="Expand" href="javascript:void(0);" onclick="RetractSection(this)" >
	<h1>
		<span class="fas fa-plus-square"></span>
		Game Jams:
	</h1>
	</a>
	<div class="GridList Expandable Retracted">
		{% assign ordered_games = site.gamejams | sort: "display-order" %}
		{% for game in ordered_games reversed %}

		<a href="http://teamspontaneouscombustion.github.io/games/{{game.title}}" class="List">
			<div>
			<h1>
				{{game.title}}
			</h1>
			<img src="/assets/Logos/{{game.title}}.png">
			</div>
			<p class="en">{{game.desc}}</p>
			<p class="es">{{game.desc_es}}</p>
			<p class="en"> Made in {{game.time}} for the {{game.made}}.</p>
			<p class="es"> Hecho en {{game.time_es}} para {{game.made}}.</p>
		</a>
	{% endfor %}
	</div>
</div>