<div class="accordion-item bg-transparent border-0">
	<h1 class="accordion-header" id="GameJam">
		<button class="bg-transparent color-text-accent border-0 shadow-none" type="button" data-bs-toggle="collapse"
			data-bs-target="#CollapseGamejam" aria-expanded="true" aria-controls="CollapseGamejam">
			<span class="fas fa-plus-square"></span>
			Game Jams:
		</button>
	</h1>
	<div id="CollapseGamejam" class="accordion-collapse collapse" aria-labelledby="GameJam">
		<div class="container accordion-body">
			<div class="row gy-3">
				{% assign ordered_games = site.gamejams | sort: "display-order" %}
				{% for game in ordered_games reversed %}
				<a href="http://teamspontaneouscombustion.github.io/games/{{game.title}}"
				class="col-md-6 text-decoration-none">
					<div class="d-flex flex-column bg-container p-4 h-100">
						<h1 class="color-text-accent">
							{{game.title}}
						</h1>
						<p>
							<span class="en">{{game.desc}}</span>
							<span class="es d-none">{{game.desc_es}}</span>
						</p>
						<p class="mt-auto">
							<span class="en">Made in {{game.time}} for the {{game.made}}.</span>
							<span class="es d-none">Hecho en {{game.time_es}} para {{game.made}}.</span>
						</p>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>