<head>
	<!--Imports-->
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/fa55d6ff96.js" crossorigin="anonymous"></script>
	<!--Custom Styles-->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<script type="text/javascript" src="/assets/js/scripts.js"></script>
	<!--Meta Tags -->
	<title>Ignacio Zevallos</title>
	<meta charset="utf-8">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->

	<meta property="og:type" content="website">
	<meta property="og:title" content="Ignacio Zevallos" />
	<meta property="og:description" content="Ignacio Zevallos: Programmer • Developer • Etc " />
	<meta property="og:url" content="ignaciozevallos.com" />
	<meta property="og:image" content="/assets/Profile.jpg" />
	
	<meta name="description" content="Ignacio Zevallos: Programmer • Developer • Etc " />
	<!--Favicon-->
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
</head>

<nav id="Navbar">
	<a id="NavbarLogo" href="/#">
		Ignacio Zevallos
	</a>
	<a href="javascript:void(0);" id="NavbarMenu" onclick="ShowMenu()" class="fa fa-bars"></a>
	<div id="NavButtons">
		<a id="AboutButton" href="/#About" onclick="ShowMenu()">
			About
		</a><p>|</p>
		<a id="PortfolioButton" href="/#Portfolio" onclick="ShowMenu()">
			Portfolio
		</a><p>|</p>
		<a id="ContactButton" href="/#Contact" onclick="ShowMenu()">
			Contact
		</a><p>|</p>
		<!--<a id="ResumeButton" href="/Resume" onclick="ShowMenu()">
			Resume
		</a><p>|</p>-->
		<a href="javascript:languageButton();" id="LanguageButton" onclick="ShowMenu()">	
			EN
		</a>
</nav>