<nav class="navbar navbar-expand-md navbar-dark bg-container fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand fs-15em color-text-accent" href="/#">
			Ignacio Zevallos
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
		aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
<div class="collapse navbar-collapse" id="navbarCollapse">
	<ul class="navbar-nav ms-3">
		<li class="nav-item">
			<!--TODO: ALIGN TEXT-->
			<a class="nav-link text-nowrap" href="/#About">
				<p class="en color-text-default">About</p>
				<p class="es d-none color-text-default">Acerca de</p>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/#Portfolio">
				<p class="en color-text-default">Portfolio</p>
				<p class="es d-none color-text-default">Portafolio</p>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/#Contact">
				<p class="en color-text-default">Contact</p>
				<p class="es d-none color-text-default">Contacto</p>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="javascript:languageButton();">
				<p class="en color-text-default">EN</p>
				<p class="es d-none color-text-default">ES</p>
			</a>
		</li>
		</ul>
	</div>
</nav>