<head>
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script src="https://kit.fontawesome.com/fa55d6ff96.js" crossorigin="anonymous"></script>

	<script type="text/javascript" src="/assets/js/scripts.js"></script>

</head>

<nav id="Navbar">
	<a href="#">
		Ignacio Zevallos
	</a>
	<ul>
		<li>
			<a href="#About">
				About
			</a>
		</li>
		|
		<li>
			<a href="#Portfolio">
				Portfolio
			</a>
		</li>
		|
		<li>
			<a href="/Resume">
				Resume
			</a>
		</li>
		|
		<li>
			<a href="#Contact">
				Contact
			</a>
		</li>
		|
		<li>
			<a href="#">
				[EN/ES]
			</a>
		</li>
	</ul>
</nav>