---
---
/*----------GLOBAL VARIABLES----------*/
:root {
	--default-font:        #C5C6C7;
	--default-font-hover:  #E0E0E0;
	--accent-font:         #66FCF1;

	--background-bg:       #1F2833;
	--container-bg:        #0B0C10;
	--container-bg-hover:  #191B24;
}
/*--------------FONTS--------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
/*--------------DEFAULTS--------------*/
* {
	font-family: 'Roboto Mono', monospace;
}

html, body {
    scroll-behavior: smooth;
    background-color: var(--background-bg);
}

body { 
	padding-top: 65px; 
}
/*---BOOTSTRAP STUFF--*/

/*Backgroud Color*/
.bg-background {
	background-color: var(--background-bg);
}

.bg-container {
	background-color: var(--container-bg);
}

.bg-container-hover {
	background-color: var(--container-bg-hover);
}

a.bg-container {
	transition: 0.2s ease-in-out;
}

.accordion-item a .bg-container {
	transition: 0.2s ease-in-out;
}

.accordion-item a .bg-container:hover {
	background-color: var(--container-bg-hover);
	color: var(--default-font-hover);
}

a.bg-container:hover {
	transition: 0.2s ease-in-out;
	background-color: var(--container-bg-hover);
	color: var(--default-font-hover);
}

/*Text Color*/
.color-text-default {
	color: var(--default-font);
}

.color-text-accent {
	color: var(--accent-font) !important;
}

/*Text Size*/
.fs-7vw {
	font-size: 7vw;
}

.fs-3vw {
	font-size: 5vw;
}

@media only screen and (min-width: 960px) {
	.fs-3vw {
		font-size: 3vw;
	}
}

.fs-15em {
	font-size: 1.5em;
}

/*size*/
.h-50px {
	height: 50px;
}

.h-150px {
	height: 150px;
}

.h-200px {
	height: 200px;
}
/*Scrolling*/
.anchor::before {
    height: 60px;
    content: "";
    display:block;
}
/*Vertical Lines on Navbar*/
@media only screen and (min-width: 960px) {
	.navbar .navbar-nav .nav-item .nav-link {
		padding: 0 0.5em;
	}
	.navbar .navbar-nav .nav-item:not(:last-child) .nav-link {
	border-right: 2px solid var(--default-font);
	}
}