/*Variables*/
/*DEBUG
:root {
	--navbar-bg:    lightblue;
	--main-bg:      lightgray;
	--about-bg:     pink;
	--portfolio-bg: lightgreen;
	--contact-bg:   lightyellow;
	--footer-bg:    lavenderblush;

	--navbar-main-font: black;
	--navbar-font:      black;

	--title-font:       black;
	--subtitle-font:    black;
	--minicontact-font: black;

	--h1-font:          black;
	--h2-font:          black;
	--default-font:     black;

	--list-bg:          lightgray;
	--list-font:        black;
}*/

:root {
	--navbar-bg:    #0B0C10;
	--main-bg:      #1F2833;
	--about-bg:     #1F2833;
	--portfolio-bg: #1F2833;
	--contact-bg:   #1F2833;
	--footer-bg:    #0B0C10;

	--navbar-main-font: #66FCF1;
	--navbar-font:      #C5C6C7;

	--title-font:       #66FCF1;
	--subtitle-font:    #C5C6C7;
	--minicontact-font: #C5C6C7;
	--minicontact-hover:#E0E0E0;

	--h1-font:          #66FCF1;
	--h2-font:          #66FCF1;
	--default-font:     #C5C6C7;

	--star-default:     #C5C6C7;
	--star-colored:     #66FCF1;

	--list-bg:          #0B0C10;
	--list-bg-hover:    #191B24;
	--list-font:        #C5C6C7;
}

* {
	font-family: 'Roboto Mono', monospace;
	color: var(--default-font);
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
    scroll-behavior: smooth;
    background-color: var(--main-bg);
}

h1 {
	width: 100%;
	font-size: 3em;
	margin: 0;
	color: var(--h1-font);
}

h2 {
	width: 100%;
	font-size: 2em;
	margin: 0;
	color: var(--h2-font);
}

h3 {
	width: 100%;
	font-size: 1.5em;
	margin: 0;
}

.es {
	display: none;
}

/*--------------NAVBAR--------------*/

#Navbar {
	display: flex;
	position: fixed;
	z-index: 100;
	align-items: center;

	width: 100%;
	height: 50px;

	padding-left: 30px;

	background-color: var(--navbar-bg);
	color: var(--navbar-main-font);


	font-size: 100%;
}

#Navbar > ul {
	position: absolute;
	right: 60px;

	list-style-type: none;
	margin: 0;
	padding: 0;

}

#Navbar > #NavbarLogo {
	color: var(--navbar-main-font);
}

#Navbar > a {
	display: inline-block;
	font-size: 2em;
}

#Navbar a {
	text-decoration: none;
	color: var(--navbar-font);
}

#Navbar > ul > li {
	display: inline-block;

}

a.Anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.Container {
	width: 80%;
}

/*--------------MAIN--------------*/

#Main {
	display: flex;
	flex-direction: column;
	background-color: var(--main-bg);

	justify-content: center;
	align-items: center;

	height: 100%;
}

#Main > #Name {
	font-size: 7vw;
	color: var(--title-font);
}

#Main > #Subtitle {
	font-size: 3vw;
	color: var(--subtitle-font);
}

#Main > #MiniContact {
	position: absolute;
	bottom: 10px;
	font-size: 2vw;
	color: var(--minicontact-font);
}

#Main > #MiniContact > a {
	color: var(--minicontact-font);
	text-decoration: none;
	transition: 0.2s ease-in-out;
}

#Main > #MiniContact > a:hover {
	color: var(--minicontact-hover);
}
/*--------------ABOUT--------------*/

#AboutContent {
	display: flex;

	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: var(--about-bg);
}

#AboutContent .Title {

}

#AboutContent .Content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

@media screen and (max-width: 800px) {
	#AboutContent .Content {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

#AboutContent .Content #Description {
	width: 60%;
	padding: 30px;
	margin: 10px;
	background-color: var(--list-bg);
}

#AboutContent .Content #Skillset {
	width: 40%;
	padding: 30px;
	margin: 10px;
	background-color: var(--list-bg);
}

@media screen and (max-width: 800px) {
	#AboutContent .Content #Description {
		width: 100%;
	}
}
@media screen and (max-width: 800px) {
	#AboutContent .Content #Skillset {
		width: 100%;
	}
}

#AboutContent ul {
	list-style-type: none;
}

.Stars {
	display: inline-flex;
	float: right;
}

.fa-star {
	color: var(--star-default);
}

.ColoredStar {
	color: var(--star-colored);
}


/*--------------PORTFOLIO--------------*/

#PortfolioContent {
	display: flex;
	flex-direction: column;
	background-color: var(--portfolio-bg);

	justify-content: center;
	align-items: center;
}

#PortfolioContent .PortfolioList {
	width: 80%;
}

#PortfolioContent > .PortfolioList > .GridList {
	width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-auto-rows: 1fr;
}
@media screen and (max-width: 800px) {
	#PortfolioContent > #GameJamList > .GridList {
		grid-template-columns: 100%;
	}
}

#PortfolioContent .List {
	display: flex;
	flex-direction: column;

	background-color: var(--list-bg);

	color: var(--list-font);
	text-decoration: none;

	padding: 30px;
	margin: 10px;
	transition: 0.2s ease-in-out;
}

#PortfolioContent #GameJamList .List p:last-of-type {
	margin-top: auto;
}



#PortfolioContent #GameJamList > div h1 {
	display: inline-block;
	width: auto;
	max-width: calc(100% - 200px);
}

#GameJamList a:hover {
	background-color: var(--list-bg-hover);
}

#PortfolioContent #GameJamList .GridList .List img {
	display: inline-block;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	width: auto;
	height: auto;

	max-width: 200px; 
	float: right;
}


/*--------------CONTACT--------------*/

#ContactContent {
	display: flex;
	flex-direction: column;
	background-color: var(--contact-bg);
}

/*--------------FOOTER--------------*/

footer {
	display: flex;
	flex-direction: column;
	background-color: var(--footer-bg);

	justify-content: center;
	align-items: center;

	height: 100px;
}